<a href="https://colab.research.google.com/github/Abhishekkapoorak/BlinkName/blob/master/Untitled8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import csv
data=pd.read_csv('data.csv')

In [ ]:
data

   Unnamed: 0  City1  City2  City3  ...  City12  City13  City14  City15
0       City1      0     12      4  ...      36      14      26      18
1       City2     12      0      8  ...      24      26      14      22
2       City3      4      8      0  ...      32      18      22      14
3       City4      8      4      4  ...      28      22      18      18
4       City5     11      1      7  ...      25      25      15      21
5       City6     17      5     13  ...      19      31      19      27
6       City7     19     31     23  ...      17       5      17       9
7       City8     31     19     27  ...       5      17       5      13
8       City9     23     27     19  ...      13       9      13       5
9      City10     27     23     23  ...       9      13       9       9
10     City11     30     20     26  ...       6      16       6      12
11     City12     36     24     32  ...       0      22      10      18
12     City13     14     26     18  ...      22       0      12       4
13     City14     26     14     22  ...      10      12       0       8
14     City15     18     22     14  ...      18       4       8       0

[15 rows x 16 columns]

In [ ]:
data.drop('Unnamed: 0',
  axis='columns', inplace=True)

In [ ]:
data

    City1  City2  City3  City4  City5  ...  City11  City12  City13  City14  City15
0       0     12      4      8     11  ...      30      36      14      26      18
1      12      0      8      4      1  ...      20      24      26      14      22
2       4      8      0      4      7  ...      26      32      18      22      14
3       8      4      4      0      3  ...      22      28      22      18      18
4      11      1      7      3      0  ...      19      25      25      15      21
5      17      5     13      9      6  ...      25      19      31      19      27
6      19     31     23     27     30  ...      11      17       5      17       9
7      31     19     27     23     20  ...       1       5      17       5      13
8      23     27     19     23     26  ...       7      13       9      13       5
9      27     23     23     19     22  ...       3       9      13       9       9
10     30     20     26     22     19  ...       0       6      16       6      12
11     36     24     32     28     25  ...       6       0      22      10      18
12     14     26     18     22     25  ...      16      22       0      12       4
13     26     14     22     18     15  ...       6      10      12       0       8
14     18     22     14     18     21  ...      12      18       4       8       0

[15 rows x 15 columns]

In [ ]:
t=data.to_numpy()
t

array([[ 0, 12,  4,  8, 11, 17, 19, 31, 23, 27, 30, 36, 14, 26, 18],
       [12,  0,  8,  4,  1,  5, 31, 19, 27, 23, 20, 24, 26, 14, 22],
       [ 4,  8,  0,  4,  7, 13, 23, 27, 19, 23, 26, 32, 18, 22, 14],
       [ 8,  4,  4,  0,  3,  9, 27, 23, 23, 19, 22, 28, 22, 18, 18],
       [11,  1,  7,  3,  0,  6, 30, 20, 26, 22, 19, 25, 25, 15, 21],
       [17,  5, 13,  9,  6,  0, 36, 24, 32, 28, 25, 19, 31, 19, 27],
       [19, 31, 23, 27, 30, 36,  0, 12,  4,  8, 11, 17,  5, 17,  9],
       [31, 19, 27, 23, 20, 24, 12,  0,  8,  4,  1,  5, 17,  5, 13],
       [23, 27, 19, 23, 26, 32,  4,  8,  0,  4,  7, 13,  9, 13,  5],
       [27, 23, 23, 19, 22, 28,  8,  4,  4,  0,  3,  9, 13,  9,  9],
       [30, 20, 26, 22, 19, 25, 11,  1,  7,  3,  0,  6, 16,  6, 12],
       [36, 24, 32, 28, 25, 19, 17,  5, 13,  9,  6,  0, 22, 10, 18],
       [14, 26, 18, 22, 25, 31,  5, 17,  9, 13, 16, 22,  0, 12,  4],
       [26, 14, 22, 18, 15, 19, 17,  5, 13,  9,  6, 10, 12,  0,  8],
       [18, 22, 14, 18, 21, 27,  9, 13,  5,  9, 12, 18,  4,  8,  0]])

In [ ]:
k=[]

In [ ]:
for i in range(len(t)):
  for j in range(len(t[0])):
    p=[i,j,t[i][j]]
    k.append(p)

In [ ]:
k

[[0, 0, 0],
 [0, 1, 12],
 [0, 2, 4],
 [0, 3, 8],
 [0, 4, 11],
 [0, 5, 17],
 [0, 6, 19],
 [0, 7, 31],
 [0, 8, 23],
 [0, 9, 27],
 [0, 10, 30],
 [0, 11, 36],
 [0, 12, 14],
 [0, 13, 26],
 [0, 14, 18],
 [1, 0, 12],
 [1, 1, 0],
 [1, 2, 8],
 [1, 3, 4],
 [1, 4, 1],
 [1, 5, 5],
 [1, 6, 31],
 [1, 7, 19],
 [1, 8, 27],
 [1, 9, 23],
 [1, 10, 20],
 [1, 11, 24],
 [1, 12, 26],
 [1, 13, 14],
 [1, 14, 22],
 [2, 0, 4],
 [2, 1, 8],
 [2, 2, 0],
 [2, 3, 4],
 [2, 4, 7],
 [2, 5, 13],
 [2, 6, 23],
 [2, 7, 27],
 [2, 8, 19],
 [2, 9, 23],
 [2, 10, 26],
 [2, 11, 32],
 [2, 12, 18],
 [2, 13, 22],
 [2, 14, 14],
 [3, 0, 8],
 [3, 1, 4],
 [3, 2, 4],
 [3, 3, 0],
 [3, 4, 3],
 [3, 5, 9],
 [3, 6, 27],
 [3, 7, 23],
 [3, 8, 23],
 [3, 9, 19],
 [3, 10, 22],
 [3, 11, 28],
 [3, 12, 22],
 [3, 13, 18],
 [3, 14, 18],
 [4, 0, 11],
 [4, 1, 1],
 [4, 2, 7],
 [4, 3, 3],
 [4, 4, 0],
 [4, 5, 6],
 [4, 6, 30],
 [4, 7, 20],
 [4, 8, 26],
 [4, 9, 22],
 [4, 10, 19],
 [4, 11, 25],
 [4, 12, 25],
 [4, 13, 15],
 [4, 14, 21],
 [5, 0, 17],
 [5, 1, 5],
 [5, 2, 13],
 [5, 3, 9],
 [5, 4, 6],
 [5, 5, 0],
 [5, 6, 36],
 [5, 7, 24],
 [5, 8, 32],
 [5, 9, 28],
 [5, 10, 25],
 [5, 11, 19],
 [5, 12, 31],
 [5, 13, 19],
 [5, 14, 27],
 [6, 0, 19],
 [6, 1, 31],
 [6, 2, 23],
 [6, 3, 27],
 [6, 4, 30],
 [6, 5, 36],
 [6, 6, 0],
 [6, 7, 12],
 [6, 8, 4],
 [6, 9, 8],
 [6, 10, 11],
 [6, 11, 17],
 [6, 12, 5],
 [6, 13, 17],
 [6, 14, 9],
 [7, 0, 31],
 [7, 1, 19],
 [7, 2, 27],
 [7, 3, 23],
 [7, 4, 20],
 [7, 5, 24],
 [7, 6, 12],
 [7, 7, 0],
 [7, 8, 8],
 [7, 9, 4],
 [7, 10, 1],
 [7, 11, 5],
 [7, 12, 17],
 [7, 13, 5],
 [7, 14, 13],
 [8, 0, 23],
 [8, 1, 27],
 [8, 2, 19],
 [8, 3, 23],
 [8, 4, 26],
 [8, 5, 32],
 [8, 6, 4],
 [8, 7, 8],
 [8, 8, 0],
 [8, 9, 4],
 [8, 10, 7],
 [8, 11, 13],
 [8, 12, 9],
 [8, 13, 13],
 [8, 14, 5],
 [9, 0, 27],
 [9, 1, 23],
 [9, 2, 23],
 [9, 3, 19],
 [9, 4, 22],
 [9, 5, 28],
 [9, 6, 8],
 [9, 7, 4],
 [9, 8, 4],
 [9, 9, 0],
 [9, 10, 3],
 [9, 11, 9],
 [9, 12, 13],
 [9, 13, 9],
 [9, 14, 9],
 [10, 0, 30],
 [10, 1, 20],
 [10, 2, 26],
 [10, 3, 22],
 [10, 4, 19],
 [10, 5, 25],
 [10, 6, 11],
 [10, 7, 1],
 [10, 8, 7],
 [10, 9, 3],
 [10, 10, 0],
 [10, 11, 6],
 [10, 12, 16],
 [10, 13, 6],
 [10, 14, 12],
 [11, 0, 36],
 [11, 1, 24],
 [11, 2, 32],
 [11, 3, 28],
 [11, 4, 25],
 [11, 5, 19],
 [11, 6, 17],
 [11, 7, 5],
 [11, 8, 13],
 [11, 9, 9],
 [11, 10, 6],
 [11, 11, 0],
 [11, 12, 22],
 [11, 13, 10],
 [11, 14, 18],
 [12, 0, 14],
 [12, 1, 26],
 [12, 2, 18],
 [12, 3, 22],
 [12, 4, 25],
 [12, 5, 31],
 [12, 6, 5],
 [12, 7, 17],
 [12, 8, 9],
 [12, 9, 13],
 [12, 10, 16],
 [12, 11, 22],
 [12, 12, 0],
 [12, 13, 12],
 [12, 14, 4],
 [13, 0, 26],
 [13, 1, 14],
 [13, 2, 22],
 [13, 3, 18],
 [13, 4, 15],
 [13, 5, 19],
 [13, 6, 17],
 [13, 7, 5],
 [13, 8, 13],
 [13, 9, 9],
 [13, 10, 6],
 [13, 11, 10],
 [13, 12, 12],
 [13, 13, 0],
 [13, 14, 8],
 [14, 0, 18],
 [14, 1, 22],
 [14, 2, 14],
 [14, 3, 18],
 [14, 4, 21],
 [14, 5, 27],
 [14, 6, 9],
 [14, 7, 13],
 [14, 8, 5],
 [14, 9, 9],
 [14, 10, 12],
 [14, 11, 18],
 [14, 12, 4],
 [14, 13, 8],
 [14, 14, 0]]

#Prims

In [ ]:
def minnode(n, keyval, mstset):
    mini = 999999999999
    mini_index = None
    for i in range(n):
        if (mstset[i] == False and
            keyval[i] < mini):
            mini = keyval[i]
            mini_index = i
    return mini_index
def findcost(n, city):
    parent = [None] * n
    keyval = [None] * n
    mstset = [None] * n
    for i in range(n):
        keyval[i] = 9999999999999
        mstset[i] = False
    parent[0] = -1
    keyval[0] = 0
    for i in range(n - 1):
        u = minnode(n, keyval, mstset)
        mstset[u] = True
    
        for v in range(n):
            if (city[u][v] and mstset[v] == False and
                city[u][v] < keyval[v]):
                keyval[v] = city[u][v]
                parent[v] = u
    cost = 0
    for i in range(1, n):
        cost += city[parent[i]][i]
    print(cost)

if __name__ == '__main__':
 
    # Input 1
    n1 = 15
    city1 = t

#Minimum total mins

In [ ]:
findcost(n1,city1)

62

#**Kruskal Algorithm**

In [ ]:

 
from collections import defaultdict
 
# Class to represent a graph
 
 
class Graph:
 
    def __init__(self, vertices):
        self.V = vertices  # No. of vertices
        self.graph = []  # default dictionary
        # to store graph

    def addEdge(self, u, v, w):
        self.graph.append([u, v, w])

    def find(self, parent, i):
        if parent[i] == i:
            return i
        return self.find(parent, parent[i])
 

    def union(self, parent, rank, x, y):
        xroot = self.find(parent, x)
        yroot = self.find(parent, y)

        if rank[xroot] < rank[yroot]:
            parent[xroot] = yroot
        elif rank[xroot] > rank[yroot]:
            parent[yroot] = xroot

        else:
            parent[yroot] = xroot
            rank[xroot] += 1

    def KruskalMST(self):
 
        result = []  # This will store the resultant MST

        i = 0

        e = 0
        self.graph = sorted(self.graph,
                            key=lambda item: item[2])
 
        parent = []
        rank = []
        for node in range(self.V):
            parent.append(node)
            rank.append(0)
        while e < self.V - 1:
            u, v, w = self.graph[i]
            i = i + 1
            x = self.find(parent, u)
            y = self.find(parent, v)
            if x != y:
                e = e + 1
                result.append([u, v, w])
                self.union(parent, rank, x, y)
          
 
        minimumCost = 0
        print ("Edges in the constructed MST")
        for u, v, weight in result:
            minimumCost += weight
            print("%d -- %d == %d" % (u, v, weight))
        print("Minimum time" , minimumCost)

g = Graph(15)
for i in range(len(k)):
  e=k[i][0]
  v=k[i][1]
  w=k[i][2]
  g.addEdge(e,v,w)

g.KruskalMST()

Edges in the constructed MST
1 -- 4 == 1
7 -- 10 == 1
3 -- 4 == 3
9 -- 10 == 3
0 -- 2 == 4
2 -- 3 == 4
6 -- 8 == 4
8 -- 9 == 4
12 -- 14 == 4
1 -- 5 == 5
6 -- 12 == 5
7 -- 11 == 5
7 -- 13 == 5
0 -- 12 == 14
Minimum time 62